@page "/products"
@inject HttpClient Http
@inject IModalService modal
<PageTitle>Product List</PageTitle>

@using BlazorApp2.Data
@using BlazorApp2.Pages.Modal;
@using Models.EntityClass;

<h1>Product List</h1>

<button @onclick="@(()=>modal.Show<CommonCUModal>
("Add Product", new ModalParameters().Add(nameof(CommonCUModal.IsCreateCustomer), false)))"
        class="btn btn-primary">
    Add Product
</button>
@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sku</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Sku</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Product>? products;

    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<List<Product>>("product-api/Products/Get");
    }
}
