@using BlazorApp2.Data
@inject WeatherForecastService ForecastService

<form>
    <div class="mt-md-2">
        <label class="col-md-2">Name</label>
        <input class="col-md-9" type="text" name="name" id="name" />
    </div>
    <div class="mt-md-2">
        <label class="col-md-2">Phone</label>
        <input class="col-md-9" type="text" name="phone" id="phone" />
    </div>
    <div class="mt-md-2">
        <label class="col-md-2">Address</label>
        <input class="col-md-9" type="text" name="address" id="address" />
    </div>
    <div class="mt-md-2">
        <label class="col-md-2">Email</label>
        <input class="col-md-9" type="text" name="email" id="email" />
    </div>
    <div>
        <button type="submit">Add Customer</button>
    </div>
</form>

@code {
    
}
