@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazorApp2.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SfGrid DataSource="@forecasts" />
        @*<GridColumns>
            <GridColumn Field=@nameof(WeatherForecast.Date) HeaderText="Date" Width="257.391"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.TemperatureC) HeaderText="Temp. (C)" Width="261.281"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.TemperatureF) HeaderText="Temp. (F)" Width="256.281"></GridColumn>
            <GridColumn Field=@nameof(WeatherForecast.Summary) HeaderText="Summary" Width=" 267.797"></GridColumn>
        </GridColumns>*@
@*    </SfGrid>
*@}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
